[submodule "glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "stb"]
	path = deps/stb
	url = git@github.com:nothings/stb.git
[submodule "glm"]
	path = deps/glm
	url = git@github.com:g-truc/glm.git
